[data-md-color-scheme="carbon"] {
  --md-default-bg-color: #ececec;

  --md-primary-fg-color:        #20232a;
  --md-primary-fg-color--light: #282c34;
  --md-primary-fg-color--dark:  #18191f;

  --md-footer-bg-color--dark:   #282c34;

  --md-typeset-a-color: #007acc;
}

@font-face {
  font-family: 'Alegreya';
  src: url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
}

/* Comment below out if not using Alegreya font */
:root {
  font-size: x-large;
}

/* Change the width of the page. Default is 1440px i think */
.md-grid {
  /* max-width: 1200px; */
  padding-left: 2em;
  padding-right: 2em;
}
